import os.path
from conan import ConanFile
from conan.tools.build import check_min_cppstd
from conan.tools.files import (
    copy,
    rmdir,
)
from conan.tools.scm import Git

class Boost{{ project.name.title() }}Recipe(ConanFile):
    name = 'boost-{{project.name|slugify}}'

    license = 'BSL-1.0'
    description = '{{project.description}}'
    {% set sep = joiner(', ') -%}
    author = '{% for a in project.authors %}{{sep()}}{{a}}{% endfor %}'
    url = '{{project.url}}'
    topics = {{project.category}}

    {% if project.headeronly -%}
    package_type = 'header-library'
    no_copy_source = True
    {%- if project.cxxstd is defined %}
    settings = 'compiler'
    {%- endif %}
    {%- else %}
    package_type = 'library'
    settings = 'os', 'compiler', 'build_type', 'arch'
    options = {'shared': [True, False]}
    default_options = {'shared': False}
    python_requires = '{{ project.generators.conan_ref }}'
    {%- endif %}

    {% if project.cxxstd is defined -%}
    def validate(self):
        check_min_cppstd(self, '{{project.cxxstd}}')
    {%- endif %}

    def requirements(self):
        for dep in self.conan_data['sources'][self.version]['dependencies']:
            self.requires(
                dep,
                headers=True,
                transitive_headers=True,
            {%- if not project.headeronly %}
                libs=True,
                transitive_libs=True,
            {% endif -%}
            )

    def source(self):
        git = Git(self)
        data = self.conan_data['sources'][self.version]
        git.fetch_commit(data['url'], data['commit'])
        rmdir(self, '.git')

    {% if project.headeronly -%}
    def build(self):
        pass

    def package(self):
        copy(self, '*',
            os.path.join(self.source_folder, 'include'),
            os.path.join(self.package_folder, 'include'))

    def package_id(self):
        self.info.clear()
    {%- else -%}
    def build_requirements(self):
       self.tool_requires('b2/[>={{ project.generators.b2_version }}]')

    def layout(self):
        self.folders.build = 'bin.v2'
        self.folders.generators = 'bin.v2/generators'

    def generate(self):
    {#     tc = self.python_requires['{{ project.generators.conan_name }}'].module.B2Toolchain(self) #}
    {#     tc.generate() #}

        deps = self.python_requires['{{ project.generators.conan_name }}'].module.B2Deps(self)
        deps.generate()

    def build(self):
        b2 = self.python_requires['{{ project.generators.conan_name }}'].module.B2(self)
        b2.build('boost_{{project.name}}')

    def package(self):
        b2 = self.python_requires['{{ project.generators.conan_name }}'].module.B2(self)
        b2.install()
    {%- endif %}

    def package_info(self):
        self.cpp_info.set_property('cmake_target_name', 'Boost::{{project.name.title()}}')
        self.cpp_info.set_property('b2_target_name', '/boost/{{project.name|slugify}}//boost_{{project.name|slugify}}')
        {% if project.headeronly -%}
        self.cpp_info.bindirs = []
        self.cpp_info.libdirs = []
        {%- endif %}
