{#-
  Copyright (c) 2025 Dmitry Arkhipov (grisumbras@yandex.ru)

  Distributed under the Boost Software License, Version 1.0. (See accompanying
  file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
-#}
from conan import ConanFile


class Boost{{ project.name.title() | replace('_', '') }}Recipe(ConanFile):
    name = 'boost-{{project.name}}'

    license = 'BSL-1.0'
    description = '''{{project.description}}'''
    {% set sep = joiner(', ') -%}
    author = '{% for a in project.authors %}{{sep()}}{{a}}{% endfor %}'
    url = '{{project.url}}'
    topics = {{project.category}}

    settings = 'os', 'compiler', 'build_type', 'arch'
    options = {'shared': [True, False], 'disabled_libraries': ['ANY']}
    default_options = {'shared': False}
    python_requires = (
        '{{ project.recipe_tools.conan_ref }}',
        '{{ project.boost_helpers.conan_ref }}',
    )
    python_requires_extend = '{{project.boost_helpers.conan_name}}.BoostPackage'
