name: CI

on:
  push:
  schedule:
    - cron: '0 11 * * *'

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  Generate:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        boost-ref: &boost-refs
          - develop
          - master
          - boost-1.90.0.beta1

    steps:
      - name: Fetch head
        uses: actions/checkout@v5

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate index
        run: tools/generate.py --ref  ${{ matrix.boost-ref }} --target index

      - name: Save index
        uses: actions/upload-artifact@v4
        with:
          name: index-${{ matrix.boost-ref }}
          path: |
            index/
            !**/build/
          if-no-files-found: error
          retention-days: 1
          compression-level: 9

  test-linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    needs: Generate
    strategy:
      matrix:
        boost-ref: *boost-refs
        toolset:
          - gcc
          - clang

    steps:
      - name: Fetch head
        uses: actions/checkout@v5

      - name: Download new indices
        uses: actions/download-artifact@v5
        with:
          name: index-${{ matrix.boost-ref }}
          path: index

      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'

      - name: Setup Conan
        run: |
          set -ex

          pip install conan
          conan remote add boost-conan-index ./index

      - name: Test selected packages
        run: |
          set -ex

          for proj in b2-tools boost-libraries; do
            conan test --build=missing \
                -pr:a ./test/linux-${{ matrix.toolset }}.profile \
                "index/recipes/$proj/all/test_package" \
                "$proj/[>0-a,include_prerelease]"
          done

  test-windows:
    name: Test on Windows
    runs-on: windows-latest
    needs: Generate
    strategy:
      matrix:
        boost-ref: *boost-refs
        toolset:
          - msvc

    steps:
      - name: Fetch head
        uses: actions/checkout@v5

      - name: Download new indices
        uses: actions/download-artifact@v5
        with:
          name: index-${{ matrix.boost-ref }}
          path: index

      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'

      - name: Setup Conan
        run: |
          set -ex

          pip install conan
          conan remote add boost-conan-index ./index

      - name: Test selected packages
        run: |
          set -ex

          for proj in b2-tools boost-libraries; do
            conan test --build=missing \
                -pr:a ./test/windows-${{ matrix.toolset }}.profile \
                "index/recipes/$proj/all/test_package" \
                "$proj/[>0-a,include_prerelease]"
          done

  test-macos:
    name: Test on MacOS
    runs-on: macos-latest
    needs: Generate
    strategy:
      matrix:
        boost-ref: *boost-refs
        toolset:
          - darwin
          - clang

    steps:
      - name: Fetch head
        uses: actions/checkout@v5

      - name: Download new indices
        uses: actions/download-artifact@v5
        with:
          name: index-${{ matrix.boost-ref }}
          path: index

      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'

      - name: Setup Conan
        run: |
          set -ex

          pip install conan
          conan remote add boost-conan-index ./index

      - name: Test selected packages
        run: |
          set -ex

          for proj in b2-tools boost-libraries; do
            conan test --build=missing \
                -pr:a ./test/macos-${{ matrix.toolset }}.profile \
                "index/recipes/$proj/all/test_package" \
                "$proj/[>0-a,include_prerelease]"
          done

  Merge:
    runs-on: ubuntu-latest
    needs:
        - Generate
        - test-linux
        - test-windows
    permissions:
      contents: write

    steps:
      - name: Fetch head
        uses: actions/checkout@v5
        with:
          path: head

      - name: Fetch current index
        uses: actions/checkout@v5
        with:
          ref: index
          path: current-index

      - name: Download new indices
        uses: actions/download-artifact@v5
        with:
          pattern: index-*

      - name: Update index
        run: |
          set -ex

          for dir in index-*; do
            head/tools/merge-index.py $dir current-index
          done
          cp head/README.adoc current-index

      - name: Uploading updated index
        if: (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'schedule'
        env:
          GIT_AUTHOR_NAME: ${{ github.triggering_actor }}
          GIT_AUTHOR_EMAIL: ${{ github.triggering_actor }}@users.noreply.github.com
          GIT_COMMITTER_NAME: ${{ github.triggering_actor }}
          GIT_COMMITTER_EMAIL: ${{ github.triggering_actor }}@users.noreply.github.com
          COMMIT_MESSAGE: ${{ (github.event_name == 'schedule' && 'Scheduled update') || 'Automatic update due to a push to master' }}
        run: |
            set -ex

            cd current-index
            git add .
            if [ -n "$(git status --porcelain=v1)" ]; then
              git commit -m "$COMMIT_MESSAGE"
              git push
            fi
